---
layout: page
---
{%- assign items = site.data[site.metadata] -%}
<div class="row">
  <div class="col-md-8">

  {% include index/description.html %}
  
    
   <big>Introduction</big><br>

<p style="text-indent: 25px;">The Uno Langmann Family Collection of B.C. Photographs consists of more than 18,000 photographs taken in or near British Columbia between the 1850s and the 1970s. The photographs depict scenes that give us an insight into the history of this area, showing us the burgeoning industries of that time, including logging, fishing, and mining, as well as where and how average settlers spent their leisure time. This exhibition features a subset of the photographs in the Langmann collection, which represents a particular perspective from a particular time period.<br>
<p style="text-indent: 25px;">Around the turn of the 19<sup>th</sup> century, the time period when most of these photographs were taken, British Columbia had just recently become a province, but the settler-colonial presence in the area was nothing new. For decades already, settlers had been encroaching upon the traditional, ancestral, and for the most part unceded territories of indigenous peoples. As Cole Harris describes, “Natives had been allocated small reserves where, their numbers much reduced and their voices unheard, they lived at the margins of a non-Native world.”<sup>1</sup> <br>

    
  </div>
  <div class="col-md-4">  

    {% include index/time.html %}

    {% include index/featured-terms.html field="subject" title="Top Subjects" btn-color="info" featured=site.data.theme.featured-subjects max=site.data.theme.featured-subjects-max %}

    {% include index/featured-terms.html field="location" title="Locations" btn-color="outline-secondary" featured=site.data.theme.featured-locations max=site.data.theme.featured-locations-max %}

    {% include index/objects.html %}

  </div>
  
  <img src="langmann034" align=right>
 
  <p style="text-indent: 25px;">The vast majority of photographs in the Langmann collection were taken by colonial-settlers, and as such, many of them are situated within a particular worldview, with particular relationships to both indigenous peoples and indigenous lands. Both were taken for granted as things to be tamed and overcome in what was then widely seen as a natural, inevitable, and triumphant progression toward urban development and modernization. As Paige Raibmon expresses while reflecting on her experience working with the Langmann photographs, “These images were illustrations in a larger colonial fairy tale that reassured settlers their occupation was uncontested.”<sup>2</sup><br>
<p style="text-indent: 25px;">Today, in the early twenty-first century, as many of us aim to think more critically about both the humanitarian and environmental consequences of colonization, it is worth examining or re-examining the spirit behind these photographs. This exhibition aims to highlight some of the photographs in the collection which most intensely embody the colonial-settler mindset, with the goal of encouraging viewers to think more critically about the actions and choices that settlers of that time espoused without question, and how those actions and choices impacted both indigenous peoples and the lands that were and are sacred to them. <br>
<p style="text-indent: 25px;">This digital exhibition is divided into three sections. Urban Development displays photographs that speak to a philosophy that dictated that the natural world should be suppressed in favour of developing carefully manicured urban environments. Environmental Impact shows examples of the effect curation of an urban society had on the natural environment. While the first two sections examine the relationships between settlers and indigenous lands, the third, Relations with Indigenous Peoples, more directly addresses the prejudices and racist ideology of European settlers towards indigenous peoples, cultures, histories, and their traditions. <br>
  
  <div class="col-md-12">

    {% include index/data-download.html %}

  </div>
</div>
